<a
  [href]="linkUrl"
  class="group w-full h-96 mx-auto [perspective:1000px] cursor-pointer block"
  target="_blank"
>
  <div
    class="relative w-full h-full transition-transform duration-700 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)] shadow-xl rounded-lg"
  >
    <div
      class="absolute w-full h-full [backface-visibility:hidden] flex flex-col items-center justify-center rounded-lg bg-white border border-gray-200 p-6"
    >
      <img
        [src]="imageUrl"
        [alt]="title"
        class="w-60 h-60 object-contain mb-6"
      />
      <h3
        class="text-3xl font-bold text-gray-800 text-center leading-snug px-2"
      >
        {{ title }}
      </h3>
    </div>

    <div
      class="absolute w-full h-full [backface-visibility:hidden] flex flex-col p-6 rounded-lg bg-blue-600 text-white [transform:rotateY(180deg)] justify-center items-center"
    >
      <h3
        class="text-4xl font-bold mb-4 text-center border-b-2 border-blue-400 pb-2"
      >
        {{ title }}
      </h3>
      <p
        class="text-2xl font-bold text-center arial flex-grow overflow-hidden mb-4"
      >
        {{ description }}
      </p>
      <button
        class="text-4xl py-2 px-10 bg-white text-blue-700 font-bold rounded-full shadow-lg transition hover:bg-blue-100"
      >
        Ver Más
      </button>
    </div>
  </div>
</a>
