<nav
  class="bg-[oklch(95%_0.08_95.746)] text-[#0F3F7A] border-b border-gray-400 text-gray-900 fixed top-0 w-full z-10"
>
  <div class="max-w-10xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-24 items-center">
      <div class="flex items-center space-x-4">
        <img
          src="assets/img/general/logoweb_UTA.png"
          alt="Logo"
          class="h-16 w-auto"
        />

        <div class="flex flex-col text-[#0F3F7A]">
          <span class="text-2xl font-bold leading-tight whitespace-nowrap">
            Universidad de Tarapacá
          </span>
          <span class="text-xl font-medium leading-tight whitespace-nowrap">
            Facultad de Ingeniería
          </span>
        </div>
      </div>
      <div
        class="text-xl font-bold text-gray-700 whitespace-nowrap mr-12 ml-16"
      >
        {{ currentDateTime }}
      </div>
    </div>
  </div>
</nav>
