:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  /* Propiedad esencial para que el padding y border se incluyan dentro del ancho/alto total */
  box-sizing: border-box;

  /* Ocupa el espacio restante y soluciona el scroll doble */
  flex: 1 1 auto;
  overflow-y: auto;
  height: 0; /* Necesario para que flex: 1 funcione bien con overflow */

  /* Aplicamos el padding que queremos desde aquí: pt-32 (8rem) y px-4 (1rem) */
  padding-top: 8rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2rem;

  /* Mantenido como transparente para que se vea el fondo global del app.component */
  background-color: transparent;
}
footer {
  padding: 2rem;
  background-color: rgb(174, 174, 255);
}
